<mat-card>
  <mat-card-header layout="row">
    <mat-card-title
      style="padding-bottom: 5vw; font-size: large; font-weight: bold"
    >
      <span>{{ msg }}</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content *ngIf="showDetails">
    <app-product-detail
      [selectedProduct]="productInDetail"
      [vendors]="vendorData"
      (cancelled)="onCancel()"
      (saved)="onSave($event)"
      (deleted)="onDelete($event)"
    >
    </app-product-detail>
  </mat-card-content>

  <mat-card-content *ngIf="!showDetails">
    <table
      mat-table
      [dataSource]="dataSource"
      products-table
      class="mat-elevation-z8"
      matSort
      matSortActive="vendorid"
      matSortDirection="asc"
      matSortDisableClear
      (matSortChange)="sortProducts($event)"
    >

    <!-- <table mat-table products-table [dataSource]="dataSource" class="mat-elevation-z8"> -->
      <!--Id Column-->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="center-header">Product</div>
        </th>
        <td mat-cell *matCellDef="let p">{{ p.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="center-header">Product Name</div>
        </th>
        <td mat-cell *matCellDef="let p">
          {{ p.name }}
        </td>
      </ng-container>

      <!-- Vendor Id Column -->
      <ng-container matColumnDef="vendorid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="center-header">Vendor</div>
        </th>
        <td mat-cell *matCellDef="let p">{{ p.vendorid }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let product; columns: displayedColumns"
        (click)="onSelect(product)"
      ></tr>
    </table>
  </mat-card-content>
</mat-card>

<div class="padtop15" *ngIf="!showDetails">
  <mat-icon
    (click)="startNewProduct()"
    matTooltip="Add New Product"
    class="addicon"
    color="primary"
  >
    control_point
  </mat-icon>
</div>
